#top {
  height: 40vh;
  background-image: url("../../img/index/new-background.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  color: white;
  text-shadow: 0 3px 6px #575757aa;
}

.first #top {
  background-image: url("../../img/index/new-background.webp");
  cursor: pointer;
}

.second #top {
  background-image: url("../../img/index/background4.webp");
}

.third #top {
  background-image: url("../../img/index/background3.webp");
}

.banner-mother #top {
  background-image: url("../../img/index/banner2.webp");
  cursor: pointer;
}

.carousel .carousel-control-prev-icon,
.carousel .carousel-control-next-icon {
  width: 35px;
  height: 35px;
}

#top h3 {
  font-weight: 500;
}

.first #top p {
  font-weight: 500;
  font-size: 1.5em;
  margin: 0;
}

#top a.bt-vidaclass2 {
  text-shadow: none;
  padding: 15px 30px;
}
.bt-vidaclass-yellow {
  border-radius: 30px;
  padding: 15px 30px;
  background-color: #07bebb;
  color: #ffffff !important;
  font-weight: 700;
  border: none;
  margin-left: 130px;
}

.first #top .content {
  width: 100%;
}

#top p {
  font-weight: 500;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

.row#products {
  position: relative;
  top: -4rem;
}

.row.products {
  background-color: white;
  font-weight: 700;
  text-align: center;
  color: #07bebb;
  box-shadow: 0px 3px 26px #00000029;
  border-radius: 8px;
  padding: 1.2em 0;
  padding-bottom: 0.4em;
  font-size: 1rem;
}

.row.products i {
  font-size: 2rem;
  color: #07bebb;
  padding-bottom: 5px;
}

.row.products a {
  color: #07bebb;
}

.row#search {
  text-align: center;
  font-weight: 700;
  color: #606060;
}

.row#search h5 {
  font-weight: 700;
}

.row#search #title {
  top: -1em;
}

#search-box {
  padding: 0 4em;
  top: -1.5em;
}

#search-box input.search,
#health_search input {
  background: white;
  box-shadow: 0px 2px 8px #00000011;
  border: 0.30000001192092896px solid #e8e8e8;
  border-radius: 28px;
}

#search-box input.search::placeholder,
#health_search input::placeholder {
  font-size: 0.9rem;
  font-weight: 500 !important;
  color: rgb(112, 112, 112) !important;
}

#search-box i {
  color: #07bebb;
}

#post-its .row {
  width: 100%;
  text-align: center;
  font-weight: 700;
  color: #606060;
  margin-bottom: 2em;
}

#post-its .col.post-it {
  height: 138px;
  max-width: 145px;
  margin: 0 0.8vw;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 3px 6px #00000029;
  padding: 0;
}

#post-its .col img {
  top: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#post-its .col.diff img {
  top: -25px;
}

#post-its a {
  color: #606060;
}

#sign a {
  font-weight: 700;
  font-size: 1.3;
  padding: 1em 4em;
  background-color: #07bebb;
  color: white;
  border-radius: 30px;
}

#post-its h5 {
  color: #07bebb;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.7em;
  text-align: center;
}

.row#post-its {
  position: relative;
  top: 3rem;
}

#post-its .col.post-it.partner {
  max-width: 310px;
  height: 250px;
}

#post-its .col.post-it.partner a {
  font-size: 0.7em;
  font-weight: 500;
  padding: 0 8px;
}

a.saiba-mais {
  color: white !important;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 4em;
  background-color: #07bebb;
  border-radius: 30px;
  border: 0;
  margin: 1em 0;
}

#intro .text {
  font-size: 0.8em;
  margin: 0 3rem;
  background-color: #07bebb;
  border-radius: 0 0 20px 20px;
  padding: 0.4rem 0.8rem;
  font-weight: 500;
  color: white;
}

.einstein-detail {
  padding: 0.6em 0;
  font-size: 0.7rem;
  color: rgb(29, 29, 29);
  font-weight: 500;
}

.einstein-conecta img {
  height: 2.3rem;
  margin-bottom: 3px;
}

@media (min-width: 1600px) {
  #intro .text {
    margin: 0 6%;
    padding-bottom: 10px;
  }

  #top {
    font-size: 1.4em;
  }

  #intro .text {
    font-size: 1em;
  }

  .row#products {
    top: -8rem;
  }
}

@media (max-width: 1200px) {
  .row#products {
    top: -4rem;
  }

  .row#post-its {
    top: 3rem;
  }

  #intro .text {
    font-size: 0.7em;
  }

  .first #top p {
    font-size: 1.3em;
    margin: 1.3em 0;
  }

  #top a.bt-vidaclass2 {
    text-shadow: none;
    padding: 10px 30px;
  }

  #intro .text {
    font-size: 0.7em;
  }
}

@media (min-width: 1200px) and (max-width: 1350px) {
  .first #top p {
    font-size: 1.3em;
    margin: 0.9em 0;
  }

  #top a.bt-vidaclass2 {
    text-shadow: none;
    padding: 8px 30px;
  }

  #intro .text {
    font-size: 0.75em;
  }
}

@media (max-height: 740px) {
  #top .content {
    margin-bottom: 10px;
  }
}

@media (min-width: 900px) and (max-width: 1400px) {
  #top .content {
    margin-bottom: 5rem;
  }

  .row.products a {
    font-size: 0.9rem;
  }

  .row.products .col {
    padding: 0 5px;
  }
}

#products .beneficios img {
  width: 3.5rem;
  margin-bottom: -8px;
  margin-top: -11px;
}

#products .teleconsulta img {
  width: 2.7rem;
  padding-bottom: 4px;
}

#products .einsteinConecta img {
  height: 2.3rem;
  width: 5rem;
}

#products .einsteinConecta img {
  height: 2.3rem;
  width: 4.6rem;
}

.cards-home {
  max-width: 250px;
  min-width: 250px;
  display: inherit;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  height: 290px;
  margin: 10px 150px;
}

#post-its .cards-home img {
  position: inherit;
}

.card-platinum {
  border-radius: 10px;
}
.card-insurance {
  border-radius: 10px;
}
.card-premium {
  border-radius: 10px;
}
.card-repom {
  border-radius: 10px;
}
.card-ticket {
  border-radius: 10px;
}

.card-platinum img,
.card-premium img,
.card-repom img,
.card-insurance img {
  height: 42px;
  margin-bottom: 1em;
}

.price-platinum {
  color: #004f92;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  background-color: #ffffff;
  border-radius: 25px;
  height: 60px;
  padding: 5px;
  box-shadow: 1px -1px 10px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  width: 158px;
}
.price-platinum small {
  font-size: 14px;
}

.price-premium {
  color: #07bebb;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 40px;
  background-color: #ffffff;
  border-radius: 25px;
  height: 60px;
  padding: 6px;
  box-shadow: 1px -1px 10px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  width: 158px;
}
.price-premium small {
  font-size: 14px;
}
.price-insurance {
  color: #07bebb;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 41px;
  background-color: #ffffff;
  border-radius: 25px;
  height: 60px;
  padding: 6px;
  box-shadow: 1px -1px 10px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  width: 158px;
}
.price-insurance small {
  font-size: 14px;
}
.price-repom {
  color: #07bebb;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 42px;
  border-radius: 25px;
  height: 60px;
  padding: 6px;
  box-shadow: 1px -1px 10px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  width: 158px;
}

.button-health {
  color: #07bebb;
  font-weight: 600;
  text-align: center;
  margin-top: 41px;
  background-color: #ffffff;
  border-radius: 25px;
  height: 60px;
  padding: 6px;
  box-shadow: 1px -1px 10px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  width: 158px;
}

.price-ticket {
  color: #07bebb;
  font-weight: 600;
  font-size: 1.2em;
  text-align: center;
  text-align: center;
  margin-top: 62px;
  border-radius: 25px;
  height: 60px;
  padding: 15px;
  box-shadow: 1px -1px 10px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  width: 158px;
}

.price-first {
  font-size: 0.8em;
  margin: 0;
  color: #979797;
  font-weight: 500;
}

.choose {
  font-weight: 600;
  color: #07bebb;
}

.card-price {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
}

.cards-home .card-text {
  margin-bottom: 4.5em;
}

.cards-home strong {
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
}

.card-platinum strong {
  color: #004f92;
}

.card-premium strong {
  color: #07bebb;
}

.card-repom strong {
  color: black;
}
.card-insurance strong {
  color: #088d8b;
}

.card-health strong {
  display: block;
  font-size: 1rem;
  color: #07bebb;
}

/*
  Card compre 
*/

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
  }
}
.modal-content {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.play-button {
  background-color: #333;
  box-shadow: 0 0 30px rgb(0 0 0 / 60%);
  z-index: 1;
  opacity: 0.9;
  border: none;
  border-radius: 6px;
  padding: 15px 30px;
}

.fa-play {
  color: #ffffff;
  font-size: 2em;
}
.play-button:hover,
.play-button-mobile:hover {
  background-color: red;
}
@media (min-width: 576px) {
  .modal-custom {
    min-width: 800px;
    margin: 1.75rem auto;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
}

.card-base {
  width: 325px;
  border-radius: 20px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  height: 190px;
}

.card-base-mom {
  width: 325px;
  border-radius: 20px;
  box-shadow: 0 2px 5px 0 rgb(233 154 233 / 50%),
    0 2px 10px 0 rgb(233 154 233 / 50%);
  height: 190px;
}

.title-area {
  height: 35px;
}

.title-area p {
  font-size: 1rem;
}

.description-area {
  height: 120px;
  display: flex;
  align-items: center;
  text-align: justify !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  margin-bottom: 0 !important;
  padding: 0px 15px;
}

.btn-area button {
  background: white;
  border-radius: 20px;
  box-shadow: 1px -1px 10px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  height: 45px;
  width: 150px;
  color: #07bebb;
  font-weight: 700;
  font-size: 12px;
  padding: 0;
  text-align: center;
}

.text-green {
  color: #07bebb;
}

.text-blue {
  color: #004f92;
}

.text-pink {
  color: #dc4481;
}

.bg-pink {
  background-color: #dc4481;
}

.bg-green {
  background-color: #07bebb;
}

.bg-blue {
  background-color: #004f92;
}

.card-footer {
  height: 35px;
  font-size: 0.8rem;
  color: white;
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  position: relative;
  cursor: pointer;
}

.effect-default {
  position: absolute;
  bottom: 100%;
  width: 100%;
  height: 0;
  opacity: 0;
  transition: all 600ms ease-in-out;
}

.effect-mom {
  position: absolute;
  bottom: 100%;
  width: 100%;
  height: 0;
  opacity: 0;
  transition: all 600ms ease-in-out;
}

.effect-platinum {
  position: absolute;
  bottom: 100%;
  width: 100%;
  height: 0;
  opacity: 0;
  transition: all 600ms ease-in-out;
}

.card-footer:hover .effect-default {
  background-image: linear-gradient(
    0deg,
    #07bebb83 -20%,
    transparent 40%,
    rgba(255, 255, 255, 0.15)
  );
  height: 80px;
  opacity: 1;
}
.card-footer:hover .effect-mom {
  background-image: linear-gradient(
    0deg,
    #dc448163 -20%,
    transparent 40%,
    rgba(255, 255, 255, 0.15)
  );
  height: 80px;
  opacity: 1;
}
.card-footer:hover .effect-platinum {
  background-image: linear-gradient(
    0deg,
    #004e928e -20%,
    transparent 40%,
    rgba(255, 255, 255, 0.15)
  );
  height: 80px;
  opacity: 1;
}

.list p {
  color: #606060;
}

.list li {
  color: #07bebb;
}

.search-item,
.card-mom,
.card-platinum,
.card-premium,
.card-insurance{
  cursor: pointer;
}

