.debug {
  display: table;
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: Verdana, "Courier New", Tahoma;
  background: #fff;
  z-index: 500;
  border: 1px solid #07cc00;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
}
.debug .header {
  margin: 0 auto;
  padding: 10px;
  position: relative;
  width: 100%;
  height: 35px;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  background-image: url("../img/debug/header_background.png");
  background-size: contain;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
}
.debug .header .title {
  float: left;
  margin-top: -3px;
}
.debug .header .button {
  float: right;
  cursor: pointer;
  margin-top: 0;
}
.debug .header .button .minimize {
  display: inline-block;
  margin-right: 3px;
  width: 15px;
  height: 15px;
  background: url("../img/debug/minimize.png") no-repeat bottom;
  background-size: 100%;
}
.debug .header .button .restore {
  display: inline-block;
  margin-right: 5px;
  width: 15px;
  height: 15px;
  background: url("../img/debug/restore.png") no-repeat bottom;
  background-size: 100%;
}
.debug .header .button .close {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("../img/debug/close.png") no-repeat bottom;
  background-size: 100%;
}
.debug .body {
  margin: 0 auto;
  padding: 10px;
  position: relative;
  width: 750px;
  height: 230px;
  resize: both;
  overflow-y: scroll;
  overflow-x: scroll;
  background: #fff;
}
.debug .body pre {
  display: initial;
  margin: initial;
  overflow: initial;
  font-size: initial;
  color: initial;
}
.client_edit_form .input label:not(.error) {
  margin-left: 30px;
  margin-bottom: 10px;
}
.client_edit_form .input label:nth-child(2n + 1) {
  margin-left: 0;
}
.client_edit_form label input {
  display: block;
}
.client_edit_form label {
  width: 300px;
  display: inline-block;
  vertical-align: top;
}
.client_edit_form label span {
  color: #585864;
  font-family: "Open Sans", sans-serif;
  height: 28px;
  line-height: 28px;
}
.no-search .select2-search {
  display: none;
}
.execution-time {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 5px 10px;
  margin: 0;
  font-family: Verdana, "Courier New", Tahoma;
  font-size: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 0 0 1px;
  border-radius: 10px 0 0 0;
  -moz-border-radius: 10px 0 0 0;
  -webkit-border-radius: 10px 0 0 0;
  z-index: 2147483647;
}
.tela-size {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 5px 10px;
  margin: 0 auto;
  font-family: Verdana, "Courier New", Tahoma;
  font-size: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 1px 0 0;
  border-radius: 0 10px 0 0;
  -moz-border-radius: 0 10px 0 0;
  -webkit-border-radius: 0 10px 0 0;
  z-index: 2147483647;
}
.tela-size div {
  display: inline;
}
.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
.styled-checkbox + label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: #fff;
}
.styled-checkbox:hover + label:before {
  background: #ccc;
}
.styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.styled-checkbox:checked + label:before {
  background: #b78f57;
}
.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.styled-checkbox:checked + label:after {
  content: "";
  position: absolute;
  left: 8px;
  top: 6px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.hand {
  cursor: pointer;
}
.hide {
  display: none;
  visibility: hidden;
}
.cart {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 0;
  left: 45px;
  background-color: #fd9831;
}
.cart .qtd {
  color: #fff;
  font-weight: 700;
  font-size: 10px;
}
my-email::after {
  content: attr(data-domain);
}
my-email::before {
  content: attr(data-user) "\0040";
}
.jconfirm-buttons .btn-cancel {
  background: #c42121;
  color: #fff;
}
.jconfirm-buttons .btn-signature {
  background: #07bebb;
  color: #fff;
}
.jconfirm-buttons .btn-insurance {
  background: #159391;
  color: #fff;
}
.jconfirm-buttons button {
  margin: 20px 6px !important;
}
.jconfirm-buttons {
  float: unset;
  width: 100%;
  text-align: center;
}
.jconfirm strong {
  color: #07bebb;
}
.jconfirm-footer {
  padding-bottom: 10px;
  font-size: 0.8rem;
  font-weight: 500;
  color: gray;
}
#cookies {
  display: none;
  width: 400px;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9999999999;
}
#cookies .card {
  background-color: #07bebb;
  -webkit-border-top-right-radius: 20px !important;
  -webkit-border-bottom-right-radius: 20px !important;
  -moz-border-radius-topright: 20px !important;
  -moz-border-radius-bottomright: 20px !important;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  height: 130px;
}
#cookies .button {
  color: #07bebb;
  background-color: #fff;
  border-radius: 30px;
  padding: 5px 15px;
  font-weight: 600;
  margin: 0 5px 0 5px;
}
#cookies .card-body {
  padding: 10px 0 0 10px;
  color: #fff;
  font-size: 0.8rem;
}
#cookies .card-body span {
  margin: 10px 10px 10px 0;
  display: flex;
  justify-content: end;
  font-size: 0.8rem;
}
#cookies .card-body span a {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  cursor: pointer;
}
#cookies .card-title {
  color: #fff !important;
  font-weight: 700;
}
#cookies .card-text {
  padding: 0 !important;
  font-size: 0.8rem !important;
  font-weight: 400;
  color: #fff !important;
}
@media (max-width: 1350px) {
  @media (min-width: 750px) {
    #footer img {
      max-width: 230px;
      margin-left: 10px;
    }
    #img_logo_footer {
      max-width: 205px !important;
      margin-left: -35px !important;
    }
  }
}
@media (max-width: 504px) {
  #cookies {
    width: 95%;
    line-height: normal;
  }
  #cookies .px-3 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
.whats {
  padding: 20px;
  position: fixed;
  bottom: 0;
  right: 15px;
  cursor: pointer;
  z-index: 10000;
}
p.textScheduling a,
p.textScheduling a:hover {
  text-decoration: none !important;
  transition: none;
  color: #007bff;
  font-size: 15px;
}
.whats a,
a:hover {
  text-decoration: none !important;
  transition: none;
  color: #fff;
}
.whats .fale {
  position: absolute;
  padding: 5px 10px 5px 10px;
  top: -20px;
  left: 0;
  font-size: 14px;
  font-weight: 700;
  background: #34af23;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.title-card {
  color: #fff;
  padding: 10px;
  font-weight: 700;
  text-align: center;
}
.bt-assine {
  color: #fff !important;
  font-weight: 600;
  font-size: 20px;
  padding: 10px 4.3em;
  background-color: #07bebb;
  border-radius: 30px;
  border: 0;
  margin-top: 45px;
}
.cards-home {
  width: 15rem;
  display: inline-block;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
}
.card-platinum {
  border-radius: 10px;
}
.card-insurance {
  border-radius: 10px;
}
.card-premium {
  border-radius: 10px;
}
.card-repom {
  border-radius: 10px;
}
.card-ticket {
  border-radius: 10px;
}
#repom,
#ticket,
#vidaclass {
  cursor: pointer;
}
.price-platinum {
  color: #004f92;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  background-color: #fff;
  border-radius: 25px;
  height: 60px;
  padding: 5px;
  box-shadow: 1px -1px 10px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  width: 158px;
}
.price-platinum small {
  font-size: 14px;
}
.price-premium {
  color: #07bebb;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 40px;
  background-color: #fff;
  border-radius: 25px;
  height: 60px;
  padding: 6px;
  box-shadow: 1px -1px 10px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  width: 158px;
}
.price-premium small {
  font-size: 14px;
}
.price-insurance {
  color: #07bebb;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 41px;
  background-color: #fff;
  border-radius: 25px;
  height: 60px;
  padding: 6px;
  box-shadow: 1px -1px 10px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  width: 158px;
}
.price-insurance small {
  font-size: 14px;
}
.price-repom {
  color: #07bebb;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 42px;
  border-radius: 25px;
  height: 60px;
  padding: 6px;
  box-shadow: 1px -1px 10px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  width: 158px;
}
.price-ticket {
  color: #07bebb;
  font-weight: 600;
  font-size: 1.2em;
  text-align: center;
  text-align: center;
  margin-top: 62px;
  border-radius: 25px;
  height: 60px;
  padding: 15px;
  box-shadow: 1px -1px 10px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  width: 158px;
}
.price-first {
  font-size: 0.8em;
  margin: 0;
  color: #979797;
  font-weight: 500;
}
@media (min-width: 576px) {
  .modal-dialog {
    min-width: 800px;
    margin: 1.75rem auto;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
}
.modal-content {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.play-button-mobile {
  position: absolute;
  transform: translateY(-50%);
  bottom: 35px;
  width: 90px;
  height: 60px;
  background-color: #333;
  box-shadow: 0 0 30px rgb(0 0 0 / 60%);
  z-index: 1;
  opacity: 0.9;
  border: none;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.img-capa-mobile {
  width: 350px;
  height: 180px;
}
.fa-play {
  color: #fff;
  font-size: 2em;
}
.nqdm {
  margin-top: -15px;
  padding: 0 0 0 30px;
  font-size: 12px;
  text-align: left;
  font-weight: 500;
}
.btn-card-home {
  display: flex;
  align-items: center;
}
.btn-card-home p {
  width: 100%;
}