@import "card";
@import "../logos/sorocred";

$fill-color: #c31818;

.jp-card.jp-card-sorocred {
    &.jp-card-identified {
        .jp-card-front, .jp-card-back {
            .jp-card-logo.jp-card-sorocred {
                background-color: $fill-color;
            }
            &:before {
                background-color: $fill-color;
            }
        }
        .jp-card-logo.jp-card-sorocred {
            opacity: 1;
            box-shadow: 0 0 0 3px #f7f7f7 !important;
        }
    }
}
